:root {
    --clr-purple-50: hsl(260, 100%, 95%);
    --clr-purple-300: hsl(264, 82%, 80%);
    --clr-purple-500: hsl(263, 55%, 52%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-100: hsl(214, 17%, 92%);
    --clr-grey-200: hsl(0, 0%, 81%);
    --clr-grey-400: hsl(224, 10%, 45%);
    --clr-grey-500: hsl(217, 19%, 35%);
    --clr-dark-blue: hsl(219, 29%, 14%);
    --clr-black: hsl(0, 0%, 7%);

    --ff-primary: 'Barlow Semi Condensed', sans-serif;
    --fw-500: 500;
    --fw-600: 600;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-weight: var(--fw-500);
    background-color: var(--clr-grey-200)
}

h1,
h2,
h3 {
    font-weight: var(--fw-600);
}


.flex {
    display: flex;
    gap: 16px;
}

.bg-primary {
    background-color: var(--clr-purple-500);
}

.bg-secondary {
    background-color: var(--clr-grey-500);
}

.bg-neutral {
    background-color: var(--clr-white);
}

.bg-dark {
    background-color: var(--clr-dark-blue);
    color: white
}


.testimonial-grid {
    /* padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows:  repeat(2, 1fr); */
    gap: 2rem;
}

.testimonial {
    font-size: var(1rem);
    padding: 2rem;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}


.first {
    grid-column: span 2;
}

.third {
    grid-column: 1 / 2;
}

.forth {
    grid-column: span 2;
}

.fifth {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}



@media screen and (max-width:700px) {

    .first {
        grid-column: 1 / -1;
    }

    .second {
        grid-column: 1 / -1;
    }

    .third {
        grid-column: 1 / -1;
    }

    .forth {
        grid-column: 1 / -1;
    }

    .fifth {
        grid-row: auto;
        grid-column: 1 / -1;
    }

}